body, html {
  padding: 0;
  margin: 0;
}

body, div#root {
  height: 100vh;
  width: 100vw;
}

div.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

div.images div.image {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.images div.image img {
  height: 50vh;
  width: 25vw;
  justify-content: center;
  align-items: center;
  border-image-source: url('/border-image.png');
  border-image-slice: 70;
  border-image-repeat: stretch;
  border-style: solid;
  border-width: 70px;
}
