body, html {
  padding: 0;
  margin: 0;
}

body, div#root {
  height: 100vh;
  width: 100vw;
}

div.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;

  /*
  todo: change this file to SCSS
  @media screen and (min-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  */
}

div.images div.newest {
  display: flex;
  height: 100vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
}

div.images div.newest img {
  height: 100vh;
  width: 50vw;
}

div.images div.grid {
  display: grid;
  grid-template-columns: 1fr;
}

div.images div.grid div.image {
  background-color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: left;
}

div.images div.grid div.image img {
  height: 50vh;
  width: 25vw;
}